In [1]:
import numpy as np
import pandas as pd
import pandas_datareader as wb
import matplotlib.pyplot as plt

/Users/martin.molinero/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
indices = ['PG', 'BEI.DE']
sec_data = pd.DataFrame()

for i in indices:
    sec_data[i] = wb.DataReader(i, data_source='yahoo', start='2010-1-1')['Adj Close']

In [4]:
sec_data.head()

                   PG     BEI.DE
Date
2010-01-04  44.054558  39.762989
2010-01-05  44.068977  39.553238
2010-01-06  43.859955  39.523266
2010-01-07  43.622089  39.125175
2010-01-08  43.564434  37.995079

In [5]:
sec_data.tail()

                    PG      BEI.DE
Date
2020-06-18  119.279999   99.760002
2020-06-19  118.919998  101.250000
2020-06-22  117.750000   99.800003
2020-06-23  117.730003  101.199997
2020-06-24  116.419998   98.839996

In [10]:
# log returns
sec_returns = np.log(sec_data/sec_data.shift(1))

In [9]:
sec_returns

                  PG    BEI.DE
Date
2010-01-04       NaN       NaN
2010-01-05  0.000327 -0.005289
2010-01-06 -0.004754 -0.000758
2010-01-07 -0.005438 -0.010123
2010-01-08 -0.001323 -0.029309
...              ...       ...
2020-06-18  0.011382 -0.004900
2020-06-19 -0.003023  0.014825
2020-06-22 -0.009887 -0.014424
2020-06-23 -0.000170  0.013931
2020-06-24 -0.011190 -0.023596

[2637 rows x 2 columns]

In [11]:
# values for PG
sec_returns['PG'].mean()

0.0003686553529187388

In [12]:
sec_returns['PG'].mean() * 250

0.0921638382296847

In [13]:
sec_returns['PG'].std()

0.010870183067784152

In [14]:
sec_returns['PG'].std() * 250 ** 0.5

0.171872685385972

In [15]:
# Values for Beiersdorf
sec_returns['BEI.DE'].mean()

0.0003609975586920499

In [16]:
sec_returns['BEI.DE'].mean() * 250

0.09024938967301248

In [17]:
sec_returns['BEI.DE'].std()

0.012227754333666808

In [18]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.19333777181690817

# Covariance and correlation

In [20]:
pg_var = sec_returns['PG'].var()
pg_var

0.00011816087992714129

In [21]:
bei_var = sec_returns['BEI.DE'].var()
bei_var

0.00014951797604450742

In [22]:
pg_var_a = sec_returns['PG'].var() * 250
pg_var_a

0.029540219981785323

In [23]:
bei_var_a = sec_returns['BEI.DE'].var() * 250
bei_var_a

0.037379494011126856

In [24]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000118  0.000036
BEI.DE  0.000036  0.000150

In [25]:
cov_matrix_anual = sec_returns.cov() * 250
cov_matrix_anual
# top left: variance on PG stock
# top right & bottom left: covariance between PG and BEI.DE
# bottom right: variance on Bei.de stock

             PG    BEI.DE
PG      0.02954  0.009000
BEI.DE  0.00900  0.037379

In [28]:
corr_matrix = sec_returns.corr()
corr_matrix
# main diagonal = 1 bc correlated with itself
# weakly correlated btwn PG & BEI.DE

# RETURN  CORRELATION, NOT PRICE CORRELATION

              PG    BEI.DE
PG      1.000000  0.271304
BEI.DE  0.271304  1.000000

# Portfolio risk

In [32]:
weights = np.array([0.5, 0.5])

In [35]:

pfolio_variance = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))
pfolio_variance

0.021229848623311134

In [37]:
pfolio_volatility = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))**0.5
pfolio_volatility

0.1457046623252363

In [42]:
print(str(pfolio_volatility*100)+'%')

14.57046623252363%

# Diversifiable and undiversifiable risk

In [48]:
pg_var_a

0.029540219981785323

In [49]:
bei_var_a

0.037379494011126856

In [51]:
dr = pfolio_variance - (weights[0] ** 2 * pg_var_a) - (weights[1] ** 2 * bei_var_a)
dr

0.004499920125083089

In [53]:
# non diversifiable
n_dr = pfolio_variance - dr 
n_dr

0.016729928498228047

In [57]:
n_dr_2 =  (weights[0] ** 2 * pg_var_a) + (weights[1] ** 2 * bei_var_a)
n_dr_2

0.016729928498228044